<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/app.js"></script>
        <title>hello</title>
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This web application displays the current temperature of the location submitted by the user, using the geocode api from <a href="https://www.mapbox.com/" style="text-decoration: none;">mapbox</a> and forecast api from <a href="https://weatherstack.com/" style="text-decoration: none;">weatherstack</a>. To begin with, try searching for the name of your city or district.</p>
        </div>
        {{>footer}}
    </body>
</html>